
.bl_footerFirst {
  position: relative;
  width: 100%;
  padding: 42px 0;
  background-color: #383458;
}
.bl_footerSecond{
  width: 100%;
  min-height:56px;
  background-color: #222643;
  line-height: 56px;
  color: $color_darkBlue;
  text-align: center;
}



.bl_logos {

}

.bl_logos__leska {
  color: $color_lightBlue;
  transition: all, .2s;
  p {
    margin: 0;
    padding: 0;
  }

  &:hover,
  &:focus {
    transition: all, .2s;
    color: #fff;
  }
  .bl_logo__bigText {
    line-height: 50px;
  }
}

.bl_cosLinks,
.bl_bankCarts {
  clear: both;
  width: 100%;
  margin-top: 30px;
}

.bl_cosLinks__link,
.bl_bankCarts__link {
  position: relative;
  display: block;
  float: left;

  opacity: .3;
  transition: opacity, .3s;

  &:hover {
    opacity: 1;
    transition: opacity, .3s;
  }

}

.icon_fb {
  @include sprite-width($icon-fb);
  @include sprite-height($icon-fb);
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    @include sprite($icon-fb);
    z-index: 2;
  }
}

.icon_tw {
  margin-left: 22px;
  @include sprite-width($icon-tw);
  @include sprite-height($icon-tw);
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    @include sprite($icon-tw);
    z-index: 2;
  }
}

.icon_vk {
  margin-left: 12px;
  @include sprite-width($icon-vk);
  @include sprite-height($icon-vk);

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    @include sprite($icon_vk);
    z-index: 2;
  }
}

.icon_masterCard {

  @include sprite-width($icon-mastercard);
  @include sprite-height($icon-mastercard);

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    @include sprite($icon-mastercard);
    z-index: 2;
  }
}

.icon_visa {
  margin-left: 18px;
  @include sprite-width($icon-visa);
  @include sprite-height($icon-visa);

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    @include sprite($icon-visa);
    z-index: 2;
  }
}

.bl_informations {

  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.bl_info {
  width: 100%;
  margin-top: 20px;
}

.bl_informations__item {
  position: relative;
  width: 100%;
  max-width: 25%;

  &:nth-child(1){
    margin-left: 5%;
  }
  &:nth-child(2){
    margin-left: -35%;
  }

  &:nth-child(3){
    margin-left: -35%;
  }

  &:nth-child(4){
    margin-left: -30%;
  }


}

.bl_informations__title {
  font-family: $OpenSans;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
}

.bl_informations__title.decor_triangle{
  &:after{
    content: none;
  }
}

.bl_info__item {
  width: 100%;
  margin-top: 5px;
  color: $color_greyFen;

  span {
    display: block;
  }
}

.bl_info__item {
  position: relative;
  &:before{
    margin-top: 4px;
  }
}

.bl_informations__item:last-child .bl_info .bl_info__item {
  padding-left: 28px;
}

.bl_info__link {
  font-family: $OpenSansSemibold;
  font-weight: 400;
  color: #9e9e9e;

  &:hover,
  &:focus {
    color: #fff;
  }
}

.icon-phone {
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    @include sprite($icon-phone);
    z-index: 2;
  }
}

.icon-clock {
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    @include sprite($icon-clock);
    z-index: 2;
  }
}

.icon-envelope {
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    @include sprite($icon-envelope);
    z-index: 2;
  }
}

.icon-pointer {
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    @include sprite($icon-pointer);
    z-index: 2;
  }
}

// ANCOR

.bl_ancor {
  position: absolute;
  top: -62px;
  right: 10px;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background-color: $color_purple2;
  z-index:3;
}
.bl_ancor__link{
  position: relative;
  display: block;
  width: 100%;
  height: 100%;

}

////////// OffLine Question

.bl_offlineQuestion_button{
  position: absolute;
  top: 120px;
  right: -83px;
  width: 204px;
  height: 37px;
  border-radius: 20px 20px 0 0;
  background-color: $color_lightBlue3;
    transform: rotate(-90deg);
    color: #28305e;
    font-size: 14px;

  &:hover{
    color: #fff;
  }
}


.bl_offlineQuestion__full{
  position: absolute;
  top: -120px;
  right: 0;
  width: 252px;
  min-height: 345px;
  background-color: #fff;
  border-radius: 20px 0 0 20px;
  z-index: 2;
}

.bl_offlineQuestion__header{
  border-radius: 20px 0 0 0;
  font-family: $OpenSans;
  font-weight: 700;
  padding: 20px 20px 15px 20px;
  font-size: 14px;
  color:#fff;
  background-color: $color_lightBlue3;
}

.bl_offlineQuestion__rollUp{
  position: relative;
  float: right;
  width: 20px;
  height: 20px;
  background: none;
}


.bl_offlineQuestion__main{
  width: 100%;
  padding: 19px 19px 16px;
}

.bl_offlineQuestion__text{
  width: 214px;
  color: $color_greyFen;

  font-family: $OpenSans;
  font-size: 13px;
  font-weight: 300;
}

.bl_offlineQuestion__form{
  clear: both;
  width: 100%;
  input{
    margin-top: 16px;
    width: 100%;
    height: 30px;
    border: 1px solid #c6c6c6;
    &::placeholder{
      text-indent: 12px;
      color: $color_form;
      font-family: $OpenSansLight;
      font-size: 13px;
      font-weight: 300;
      font-style: italic;
    }
  }
  textarea{
    margin-top: 15px;
    width: 100%;
    height: 77px;
    border: 1px solid #c6c6c6;
    resize:none;

    &::placeholder{
      text-indent: 12px;
      color: #919191;
      font-family: $OpenSans;
      font-size: 13px;
      font-weight: 300;
    }
  }

}




.bl_offlineQuestion__submit{
  float: right;
  font-family: $OpenSans;
  font-size: 12px;
  color: #fff;
  width: 100px;
  height: 30px;
  margin-top: 18px;
  border-radius: 14px;
  background-color: $color_lightBlue3;
}