

.bl_contactInfo{
  width: 100%;
  min-height:36px;
  background-color: $color_purple2;

}

.bl_contactInfo__links{
  display: inline-block;
  color: $color_darkBlue;
}

.bl_contactInfo__compare,
.bl_contactInfo__marker{
  color: $color_darkBlue;
  font-size: 14px;
  font-weight: 300;
  line-height: 2;
  &:hover,
  &:focus,
  &.active{
    color: #fff;
    text-decoration: underline;
    outline: none;
  }
}

.bl_contactInfo__compare.active,
.bl_contactInfo__marker.active{
  color: #fff;
}

.bl_contactInfo__marker{
  margin-left: 15px;
}



.bl_contactInfo__item{
  float: right;
  margin-right: 20px;
  color: $color_darkBlue;
  font-size: 14px;
  font-weight: 300;

  line-height: 2;
}

.bl_siteControls{
  width: 100%;

  //padding: 20px 0 22px;

  min-height:85px;
  background: #3b5fa1;
}
.bl_logo{
  position: relative;
  display: block;
  color: #fff;
  max-width: 254px;

  transition: all, .2s;
  &:hover,
  &:focus{
    outline: none;
    transition: all, .2s;
    color: $color_lightBlue;
  }
}
.bl_logo__bigText{
  font-family: $PalanquinDark;
  font-size: 60px;
  font-weight: 700;
}

.bl_logo__smallText{
  font-family: $PalanquinDark;
  font-size: 19px;
  font-weight: 500;
}


.bl_mainControls{
  float: right;
  text-align: left;
  display: block;
  height: 100%;

}

.bl_shopBasket{
  float: right;
  display: flex;
  flex-direction: column;
  min-height:85px;
  justify-content: center;
  padding-right: 29px;

}

.btn_pages{
  display: inherit;
  width: 100%;
  max-width:200px;
  margin:5px auto;

  padding:10px;
  background-color: $color_lightBlue;
  border-radius: 8px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

.bl_shopBasket__full{
  display: inline-block;
  position: relative;
  width: 42px;
  height: 41px;

  margin-left: 29px;
}

.icon-shopBasket{
  &:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    @include sprite($backpack);
    z-index:2;
  }
}

.bl_shopBasket__items{
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  text-align: center;
  min-width: 21px;
  height: 21px;
  padding-left: 1px;
  background-color: #464d5a;
  color: #fff;
  z-index: 3;

}

.bl_personalRoom{
  position: relative;
  display: inline-block;
  height: 100%;
  line-height: 85px;
  padding-left: 42px;
  padding-right: 19px;
  color: #fff;
  font-family: $OpenSans;
  font-size: 14px;
  font-weight: 400;
  box-sizing:border-box;
  border-left: 1px solid #6a85b7;
  border-right: 1px solid #6a85b7;
  &:hover,
  &:focus{
    text-decoration: underline;
    color: #fff;
  }
}

.icon-personalRoom{
  &:before{
    content: "";
    position: absolute;
    top: 30px;
    left: 22px;

    @include sprite($icon-login);
  }
}

.bl_fullNavigation {
  position: relative;
  width: 100%;
  //background-color: $color_blue;
  min-height: 28px;
  color: #fff;
}



  .bl_nav {
    position: relative;
    height: 100%;
    width: 100%;
  }
  .bl_nav__fullItems {

    width: 100%;
    height: 100%;
  }

  .bl_nav__item {
    float: left;

    height: 100%;
    line-height: 2;
    text-align: center;
    margin-right: 4.5%; ////////// 30px

  }


  .bl_search{
    float: right;
    //width: 274px;
    margin-right: 17px;
    margin-top:30px;
  }

  .bl_search__wrapper{
    width: 100%;
    position: relative;

  }
  .bl_search__field{
    color: #fff;
    padding-right: 16px;
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid #fff;

    &::placeholder{

      color: #fff;
      font-family: $OpenSansLight;
      font-size: 14px;
      font-weight: 300;
      font-style: italic;
    }
    &:focus{
      box-shadow: 0 0 4px $color_lightBlue;
    }
  }


  .icon-search{
    &:focus{
      box-shadow: 0 0 4px $color_lightBlue;
    }
    &:before{
      content: "";
      position: absolute;
      top: 0;
      right: 4px;
      @include sprite($icon-search);
      z-index: 2;
    }
  }


// NAVIGATION

.nav_main{
  width: 100%;
  min-height: 76px;
  box-sizing: border-box;
  border-top: 1px solid $color_borderLightGrey;
  border-bottom: 1px solid $color_borderLightGrey;
}

.nav_main__fullItems{
  display: inline-block;

  line-height: 76px;
}

.nav_main__items{
  display: inline-block;


}

.nav_main__link{
  display: block;

  width: 100%;
  height: 100%;
  padding: 0 20px;
  color: $color_lightBlue2;
  font-family: $OpenSans;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  box-sizing: border-box;
  border-left: 1px solid $color_borderLightGrey;

  &:hover,
  &:focus{
    outline: none;
    color: $color_lightBlue;
  }
}

.nav_main__items:first-child .nav_main__link{
  border-left: none;
  padding-left: 0;
}


.nav_main__link_active{
  color: $color_lightBlue;
}


.btn_callBack{

  margin-top: 17px;

  float: right;
  background-color: #fff;
  width: 244px;
  height: 43px;
  border-radius: 20px;
  box-sizing: border-box;
  border: 1px solid $color_textName;
  transition: all, .2s;

  &:hover,
  &:focus{
    color: #fff;
    background-color:  #0160ac;
    transition: all, .2s;
  }
  &:focus{
    border-color: $color_lightBlue;
  }

}