// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arrow-up-name: 'arrowUp';
$arrow-up-x: 165px;
$arrow-up-y: 68px;
$arrow-up-offset-x: -165px;
$arrow-up-offset-y: -68px;
$arrow-up-width: 24px;
$arrow-up-height: 13px;
$arrow-up-total-width: 257px;
$arrow-up-total-height: 206px;
$arrow-up-image: '../image/sprite.png';
$arrow-up: (165px, 68px, -165px, -68px, 24px, 13px, 257px, 206px, '../image/sprite.png', 'arrowUp', );
$backpack-name: 'backpack';
$backpack-x: 0px;
$backpack-y: 97px;
$backpack-offset-x: 0px;
$backpack-offset-y: -97px;
$backpack-width: 42px;
$backpack-height: 41px;
$backpack-total-width: 257px;
$backpack-total-height: 206px;
$backpack-image: '../image/sprite.png';
$backpack: (0px, 97px, 0px, -97px, 42px, 41px, 257px, 206px, '../image/sprite.png', 'backpack', );
$icon-backpack-name: 'icon-backpack';
$icon-backpack-x: 37px;
$icon-backpack-y: 143px;
$icon-backpack-offset-x: -37px;
$icon-backpack-offset-y: -143px;
$icon-backpack-width: 28px;
$icon-backpack-height: 27px;
$icon-backpack-total-width: 257px;
$icon-backpack-total-height: 206px;
$icon-backpack-image: '../image/sprite.png';
$icon-backpack: (37px, 143px, -37px, -143px, 28px, 27px, 257px, 206px, '../image/sprite.png', 'icon-backpack', );
$icon-clock-name: 'icon-clock';
$icon-clock-x: 211px;
$icon-clock-y: 97px;
$icon-clock-offset-x: -211px;
$icon-clock-offset-y: -97px;
$icon-clock-width: 17px;
$icon-clock-height: 17px;
$icon-clock-total-width: 257px;
$icon-clock-total-height: 206px;
$icon-clock-image: '../image/sprite.png';
$icon-clock: (211px, 97px, -211px, -97px, 17px, 17px, 257px, 206px, '../image/sprite.png', 'icon-clock', );
$icon-envelope-name: 'icon-envelope';
$icon-envelope-x: 194px;
$icon-envelope-y: 68px;
$icon-envelope-offset-x: -194px;
$icon-envelope-offset-y: -68px;
$icon-envelope-width: 17px;
$icon-envelope-height: 13px;
$icon-envelope-total-width: 257px;
$icon-envelope-total-height: 206px;
$icon-envelope-image: '../image/sprite.png';
$icon-envelope: (194px, 68px, -194px, -68px, 17px, 13px, 257px, 206px, '../image/sprite.png', 'icon-envelope', );
$icon-fb-name: 'icon-fb';
$icon-fb-x: 0px;
$icon-fb-y: 176px;
$icon-fb-offset-x: 0px;
$icon-fb-offset-y: -176px;
$icon-fb-width: 18px;
$icon-fb-height: 30px;
$icon-fb-total-width: 257px;
$icon-fb-total-height: 206px;
$icon-fb-image: '../image/sprite.png';
$icon-fb: (0px, 176px, 0px, -176px, 18px, 30px, 257px, 206px, '../image/sprite.png', 'icon-fb', );
$icon-justice-active-name: 'icon-justice-active';
$icon-justice-active-x: 145px;
$icon-justice-active-y: 97px;
$icon-justice-active-offset-x: -145px;
$icon-justice-active-offset-y: -97px;
$icon-justice-active-width: 28px;
$icon-justice-active-height: 24px;
$icon-justice-active-total-width: 257px;
$icon-justice-active-total-height: 206px;
$icon-justice-active-image: '../image/sprite.png';
$icon-justice-active: (145px, 97px, -145px, -97px, 28px, 24px, 257px, 206px, '../image/sprite.png', 'icon-justice-active', );
$icon-justice-name: 'icon-justice';
$icon-justice-x: 178px;
$icon-justice-y: 97px;
$icon-justice-offset-x: -178px;
$icon-justice-offset-y: -97px;
$icon-justice-width: 28px;
$icon-justice-height: 24px;
$icon-justice-total-width: 257px;
$icon-justice-total-height: 206px;
$icon-justice-image: '../image/sprite.png';
$icon-justice: (178px, 97px, -178px, -97px, 28px, 24px, 257px, 206px, '../image/sprite.png', 'icon-justice', );
$icon-login-name: 'icon-login';
$icon-login-x: 237px;
$icon-login-y: 39px;
$icon-login-offset-x: -237px;
$icon-login-offset-y: -39px;
$icon-login-width: 17px;
$icon-login-height: 17px;
$icon-login-total-width: 257px;
$icon-login-total-height: 206px;
$icon-login-image: '../image/sprite.png';
$icon-login: (237px, 39px, -237px, -39px, 17px, 17px, 257px, 206px, '../image/sprite.png', 'icon-login', );
$icon-mastercard-name: 'icon-mastercard';
$icon-mastercard-x: 99px;
$icon-mastercard-y: 97px;
$icon-mastercard-offset-x: -99px;
$icon-mastercard-offset-y: -97px;
$icon-mastercard-width: 41px;
$icon-mastercard-height: 26px;
$icon-mastercard-total-width: 257px;
$icon-mastercard-total-height: 206px;
$icon-mastercard-image: '../image/sprite.png';
$icon-mastercard: (99px, 97px, -99px, -97px, 41px, 26px, 257px, 206px, '../image/sprite.png', 'icon-mastercard', );
$icon-phone-name: 'icon-phone';
$icon-phone-x: 233px;
$icon-phone-y: 97px;
$icon-phone-offset-x: -233px;
$icon-phone-offset-y: -97px;
$icon-phone-width: 16px;
$icon-phone-height: 17px;
$icon-phone-total-width: 257px;
$icon-phone-total-height: 206px;
$icon-phone-image: '../image/sprite.png';
$icon-phone: (233px, 97px, -233px, -97px, 16px, 17px, 257px, 206px, '../image/sprite.png', 'icon-phone', );
$icon-pointer-name: 'icon-pointer';
$icon-pointer-x: 23px;
$icon-pointer-y: 176px;
$icon-pointer-offset-x: -23px;
$icon-pointer-offset-y: -176px;
$icon-pointer-width: 13px;
$icon-pointer-height: 17px;
$icon-pointer-total-width: 257px;
$icon-pointer-total-height: 206px;
$icon-pointer-image: '../image/sprite.png';
$icon-pointer: (23px, 176px, -23px, -176px, 13px, 17px, 257px, 206px, '../image/sprite.png', 'icon-pointer', );
$icon-search-name: 'icon-search';
$icon-search-x: 70px;
$icon-search-y: 143px;
$icon-search-offset-x: -70px;
$icon-search-offset-y: -143px;
$icon-search-width: 15px;
$icon-search-height: 15px;
$icon-search-total-width: 257px;
$icon-search-total-height: 206px;
$icon-search-image: '../image/sprite.png';
$icon-search: (70px, 143px, -70px, -143px, 15px, 15px, 257px, 206px, '../image/sprite.png', 'icon-search', );
$icon-tw-name: 'icon-tw';
$icon-tw-x: 0px;
$icon-tw-y: 143px;
$icon-tw-offset-x: 0px;
$icon-tw-offset-y: -143px;
$icon-tw-width: 32px;
$icon-tw-height: 28px;
$icon-tw-total-width: 257px;
$icon-tw-total-height: 206px;
$icon-tw-image: '../image/sprite.png';
$icon-tw: (0px, 143px, 0px, -143px, 32px, 28px, 257px, 206px, '../image/sprite.png', 'icon-tw', );
$icon-visa-name: 'icon-visa';
$icon-visa-x: 90px;
$icon-visa-y: 68px;
$icon-visa-offset-x: -90px;
$icon-visa-offset-y: -68px;
$icon-visa-width: 70px;
$icon-visa-height: 23px;
$icon-visa-total-width: 257px;
$icon-visa-total-height: 206px;
$icon-visa-image: '../image/sprite.png';
$icon-visa: (90px, 68px, -90px, -68px, 70px, 23px, 257px, 206px, '../image/sprite.png', 'icon-visa', );
$icon-vk-name: 'icon-vk';
$icon-vk-x: 47px;
$icon-vk-y: 97px;
$icon-vk-offset-x: -47px;
$icon-vk-offset-y: -97px;
$icon-vk-width: 47px;
$icon-vk-height: 27px;
$icon-vk-total-width: 257px;
$icon-vk-total-height: 206px;
$icon-vk-image: '../image/sprite.png';
$icon-vk: (47px, 97px, -47px, -97px, 47px, 27px, 257px, 206px, '../image/sprite.png', 'icon-vk', );
$mark-grey-pentagon-name: 'mark-greyPentagon';
$mark-grey-pentagon-x: 0px;
$mark-grey-pentagon-y: 0px;
$mark-grey-pentagon-offset-x: 0px;
$mark-grey-pentagon-offset-y: 0px;
$mark-grey-pentagon-width: 257px;
$mark-grey-pentagon-height: 34px;
$mark-grey-pentagon-total-width: 257px;
$mark-grey-pentagon-total-height: 206px;
$mark-grey-pentagon-image: '../image/sprite.png';
$mark-grey-pentagon: (0px, 0px, 0px, 0px, 257px, 34px, 257px, 206px, '../image/sprite.png', 'mark-greyPentagon', );
$mark-hit-name: 'mark-hit';
$mark-hit-x: 0px;
$mark-hit-y: 39px;
$mark-hit-offset-x: 0px;
$mark-hit-offset-y: -39px;
$mark-hit-width: 130px;
$mark-hit-height: 24px;
$mark-hit-total-width: 257px;
$mark-hit-total-height: 206px;
$mark-hit-image: '../image/sprite.png';
$mark-hit: (0px, 39px, 0px, -39px, 130px, 24px, 257px, 206px, '../image/sprite.png', 'mark-hit', );
$mark-hot-name: 'mark-hot';
$mark-hot-x: 135px;
$mark-hot-y: 39px;
$mark-hot-offset-x: -135px;
$mark-hot-offset-y: -39px;
$mark-hot-width: 97px;
$mark-hot-height: 24px;
$mark-hot-total-width: 257px;
$mark-hot-total-height: 206px;
$mark-hot-image: '../image/sprite.png';
$mark-hot: (135px, 39px, -135px, -39px, 97px, 24px, 257px, 206px, '../image/sprite.png', 'mark-hot', );
$mark-top-name: 'mark-top';
$mark-top-x: 0px;
$mark-top-y: 68px;
$mark-top-offset-x: 0px;
$mark-top-offset-y: -68px;
$mark-top-width: 85px;
$mark-top-height: 24px;
$mark-top-total-width: 257px;
$mark-top-total-height: 206px;
$mark-top-image: '../image/sprite.png';
$mark-top: (0px, 68px, 0px, -68px, 85px, 24px, 257px, 206px, '../image/sprite.png', 'mark-top', );
$spritesheet-width: 257px;
$spritesheet-height: 206px;
$spritesheet-image: '../image/sprite.png';
$spritesheet-sprites: ($arrow-up, $backpack, $icon-backpack, $icon-clock, $icon-envelope, $icon-fb, $icon-justice-active, $icon-justice, $icon-login, $icon-mastercard, $icon-phone, $icon-pointer, $icon-search, $icon-tw, $icon-visa, $icon-vk, $mark-grey-pentagon, $mark-hit, $mark-hot, $mark-top, );
$spritesheet: (257px, 206px, '../image/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
