/*********************************************/
  /*COLORS*/
/*********************************************/


$color_lightBlue: #29bfeb;
$color_lightBlue3: #12b1df;
$color_button: #0160ac;

$color_darkBlue: #6973a9;
$color_purple: #9e9e9e;

$colorSlider1: #d8d8d8;
$color_arrow: #9f9f9f;
$color_arrowHover: #464d5a;

$color_purple2:#383458;

$color_textName: #12171f;
$color_lightBlue2: #181b21;
$color_price: #101216;
$color_title: #1e232c;

$color_borderLightGrey: #e9e9e9;
$color_grey: #f6f6f6;
$color_form: #919191;
$color_greyFen: #a3a3a3;
$color_lightGrey: #4e5665;

$color_pink: #ed0f33;


/*********************************************/
  /*FONTS*/
/*********************************************/

$OpenSans: "Open Sans", sans-serif;
$PalanquinDark: "Palanquin Dark", sans-serif;
$OpenSansLight: "Open Sans Light", sans-serif;
$OpenSansSemibold: "Open Sans - Semibold", sans-serif;


$FontAwesome: "FontAwesome";

/*********************************************/
  /*SIZES*/
/*********************************************/
$small-phone-max-width: 14.938em; // 239px
$small-phone: 15em; // 240px

$phone-max-width: 19.938em; // 319px
$phone: 20em; // 320px

$phone-landscape-max-width: 29.9375em; // 479px
$phone-landscape: 30em; // 480px

$small-tablet-max-width: 35.4375em; // 567px
$small-tablet: 35.5em; // 568px

$tablet-max-width: 47.938em; // 767px
$tablet: 48em; // 768px

$tablet-landscape-max-width: 61.9375em; // 991px
$tablet-landscape: 62em; // 992px

$desktop-max-width: 63.938em; // 1023px
$desktop: 64em; // 1024px

$site-max-width: 79.9375em; // 1279px
$site: 80em; // 1280px