/*********************************************/
/*@IMPORTS*/
/*********************************************/
@import "vendors/global";
@import "helpers/global";
@import "components/global";
@import "helpers/mixins";
@import "components/sprite";
/*********************************************/
/*FONTS*/
/*********************************************/


@include font-face("FontAwesome", "../fonts/FontAwesome/FontAwesome", 400, normal, eot ttf woff woff2);

/*********************************************/
/*MAIN STYLES*/
/*********************************************/

html,
body {
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  min-width: 320px;
  position: relative;


  display: -webkit-box;
  display: flex;

  -webkit-box-orient: vertical;
  flex-direction: column;
  min-height: 100vh;

}

.wrapperBlock {
  display: -webkit-box;
  display: flex;

  -webkit-box-orient: vertical;
  flex-direction: column;

  position: relative;
  width: 100%;
  height: 100%;
}

.bl_wrappen {
  position: relative;
  width: 100%;
  height: 100%;
}

.blackWrapper {

  display: -webkit-box;
  position: fixed;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgb(51, 51, 51);
  z-index: 1075;
}

.bl_overflow {
  overflow: hidden;
}

.bl_buyOneClick {
  position: relative;
  width: 100%;
  height: 100%;
}

.main {

  flex: 1 0 auto;
}

.footer {

  flex: 0 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #000;
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    color: #000;
  }
}

p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
}

/// Input

input,
textarea {

  &:focus {
    &::placeholder {
      opacity: 0;
    }
  }

  &::placeholder {
    color: #000;
    opacity: 1;
    transition: opacity .3s;
  }

  &::-moz-focus-outer,
  &::-moz-focus-inner {
    border: 0;
    outline: none;
  }

}

.correct_right {
  padding-right: 0 !important;
}

.correct_left {
  padding-left: 0 !important;
}

.block_white {
  background-color: #fff;
}

/*********************************************/
/*TYPOGRAPHY*/
/*********************************************/

/*********************************************/
/*STICKY FOOTER*/
/*********************************************/

/*********************************************/
/*HEADER*/
/*********************************************/

@import "sections/header";

/*********************************************/
/*SECTIONS*/
/*********************************************/

.mainWrapper {
  position: relative;
  width: 100%;
  min-width: 320px;
  padding: 0;
  margin: 0 !important;
}


// MAIN SLIDER
.bl_mainSlider__fullBlock{
  width: 100%;

}
.bl_mainSlider{
  position: relative;
  width: 100%;
  
}



// OWL

.owl-carousel .owl-nav {
  position: absolute;

  width: 100%;
  height: 0;
  top: 50%;
  transform: translateY(-50%);

  z-index: 999;

  .owl-prev {

    position: absolute;
    left: 0;
    top: -25px;

    width: 30px;
    height: 50px;
    background-color: #202020;

    font-weight: bold;
    line-height: 1;
    font-size: 38px;
    transition: all 0.2s;

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      width: 16px;
      height: 30px;
      //background: url("../image/arrow_left.svg") 50% 50% no-repeat;

    }

  }

  .owl-next {

    position: absolute;
    right: 0;
    top: -25px;
    width: 30px;
    height: 50px;
    font-weight: bold;
    background-color: #202020;

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      width: 16px;
      height: 30px;
    }

  }
}

//corrected style

/// for mainSlider
.owl-carousel.bl_mainSlider .owl-nav{
  width: 60%;
  left: 20%;
}

.owl-carousel.bl_mainSlider .owl-prev,
.owl-carousel.bl_mainSlider .owl-next{
  width: 44px;
  height: 44px;
  background-color: inherit;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  &:hover{
    border-color: $color_lightBlue3;
    color: $color_lightBlue3;

  }
}

.owl-carousel.bl_mainSlider .owl-nav .owl-prev:before{
  content: "\f104";
  font-family:$FontAwesome;
  width: 12px;
  height: 26px;
  font-size: 24px;
}
.owl-carousel.bl_mainSlider .owl-nav .owl-next:before{
  content: "\f105";
  font-family:$FontAwesome;
  width: 6px;
  height: 35px;
  font-size: 24px;
}



.bl_mainSlider .owl-dots{
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);

  .owl-dot{
    display: inline-block;
    width: 46px;
    height: 6px;
    background-color: #fff;
    margin-left: 2px;
    box-sizing: border-box;
    &.active{
      background-color: $color_lightBlue3;
    }
  }

}
///////////





.slider_popular.owl-carousel .owl-nav,
.slider_newProducts.owl-carousel .owl-nav,
.slider_withThisProductBuy.owl-carousel .owl-nav,
.slider_youViewed.owl-carousel .owl-nav {
  width: initial;
  height: auto;
  top: -34px;
  right: 0;

  .owl-prev,
  .owl-next {
    float: left;
    position: relative;
    top: 0;
    left: 0;
    width: 50px;
    height: 70px;
    background-color: #fff;
    box-sizing: border-box;
    vertical-align: top;

    border: 1px solid $color_lightGrey;
    &:before {
      position: absolute;
      content: "\f104";
      font-family: $FontAwesome;
      height: 100%;

      left: 50%;
      top: 64%;

      transform: translate(-50%, -50%);

      font-size: 48px;
      color: #e5e5e5;
      background: none;
    }
  }

  .owl-next {
    float: right;
    &:before {
      content: "\f105";
      top: 50%;
      background: none;
    }
  }

}


// OWL END


// MARK (layba)

.bl_mark {
  position: absolute;
  top: -24px;
  left: -18px;

  width: 113px;
  height: 126px;

  &__hit {
    background: url("../image/fish_hit.svg") 0 50% no-repeat;
  }

  &__action {
    background: url("../image/fish_action.svg") 0 50% no-repeat;
  }

  &__new {
    background: url("../image/fish_new.svg") 0 50% no-repeat;
  }

}

.bl_mark__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -25%);

  color: #fff;
  font-family: "Arial Narrow", Arial, sans-serif;

  font-size: 24px;
  font-weight: 400;
  line-height: 87px;
  text-transform: uppercase;

  &_action {
    font-size: 22px;
  }

}

///////////// Breadcrumbs

.bl_breadcrumbs {
  margin-top: 20px; //////////////////// 14px
  margin-bottom: 20px;
  width: 100%;
  &__item {
    position: relative;
    display: inline-block;
    padding-right: 4%;
    color: $color_grey;
    font-family: $OpenSans;
    font-size: 14px;
    font-weight: 400;
    text-decoration: underline;

    &:not(:last-child):after {
      content: "";
      position: absolute;
      top: 5px;
      right: 10px;
      z-index: 3;
      //@include sprite($fish-breadcrumb);
    }
  }
  &__link {
    position: relative;
    display: block;
    width: 100%;

    &:hover {
      color: #000;
    }
  }
  &__active {
    display: inline-block;
    text-decoration: none;
    font-family: $OpenSans;
  }

}

//////////////


.button_buy {
  display: block;
  margin: 8px auto 0; ////26px
  text-align: center;
  width: 250px;
  height: 50px;
  line-height: 50px;

  box-sizing: border-box;
  transition: all 0.2s;
  //border: 1px solid $color_blue;

  //background-color: #fff;
  //color: $color_blue;

  border-radius: 24px;

  &:hover {
    transition: all 0.2s;
    color: white;
    //background-color: $color_blue;
  }

}

// OCFilter Dragebl

.bl_filters__allFilters .noUi-connect {

  height: 9px;
  background-color: #e7e7e7;
}

.bl_filters__allFilters .noUi-horizontal .noUi-handle {
  height: 23px;
}

.bl_filters__allFilters .noUi-horizontal .noUi-handle {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.17);
  border: 2px solid #cadded;
  background: #0160ac linear-gradient(to top, #0160ac 0%, #1d82d3 100%);
  cursor: pointer;
}

.bl_filters__allFilters .noUi-horizontal .noUi-handle:before,
.bl_filters__allFilters .noUi-horizontal .noUi-handle:after {
  content: none;
}

.bl_filters__allFilters .noUi-origin {
  margin-top: 4px;
}

.bl_filters__allFilters .btn-danger {
  //background-color: $color_blue;
  //border-color: $color_blueDark;
}

.bl_filters__allFilters .ocfilter-option .fa-times {
  //color: $color_red;
}

.ocfilter-option{
  margin-bottom: 30px;
}

/////

// PAGINATION

.bl_pagination {
  text-align: center;
  margin: 26px auto 10px;
  width: 100%;
}

.pagination {

  &.bl_pagination__fullItems {
    display: inline-block;
    text-align: center;
  }

  li.bl_pagination__item {
    float: left;

  }

  a.bl_pagination__link {
    display: block;
    width: 100%;
    height: 34px;
    padding: 0;
    margin: 0;
    float: none;
    border: none;
    background: none;

    color: #000;

    box-sizing: border-box;
    font-family: $OpenSans;
    font-size: 16px;
    line-height: 34px;

    &:hover,
    &:focus {
      border-color: #000;
      background-color: inherit;
      color: #0160ac !important;
    }

  }

  a.bl_pagination__link_number {
    width: 34px;
    box-sizing: border-box;
  }

  a.bl_pagination__arrow {
    padding: 0 16px;
  }

  a.bl_pagination__lastPage {
    padding-left: 18px;
  }

  a.bl_pagination__firstPage {
    padding-right: 18px;
    border-right: 1px solid #c4c4c4;
  }

  a.bl_pagination__decorLine {
    border: none;
    border-right: 1px solid #c4c4c4;
  }

  .bl_pagination__item.active {
    span {
      color: #fff !important;
      border-radius: 0;
      border-top: none;
      border-bottom: none;
    }
  }

  span.bl_pagination__link_number__active,
  .active span.bl_pagination__link_number__active {

    position: relative;
    color: #fff;
    width: auto;
    height: 36px;
    vertical-align: top;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.17);
    box-sizing: border-box;
    border: 2px solid #fff;
    border-radius: 50% !important;
    background-image: linear-gradient(to top, #0160ac 0%, #1d82d3 100%);

    &:focus,
    &:active {
      //background-color: $color_blue2;
      color: #000 !important;
    }
  }
}

.pagination a.bl_pagination__decorLine {
  border: none;
}

// Article

.catalog_article {
  margin-top: 10px;
  padding: 23px 20px;
  width: 100%;

  background-color: #fff;
}

.catalog_article__title {
  color: #333;
  font-family: $OpenSans;
  font-size: 18px;
  line-height: 24px;
}

.catalog_article p {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 0;

  color: #333;
  line-height: 24px;
}

.catalog_article img {
  float: left;
  margin-right: 16px;
  width: 162px;
}

.error_text {
  font-size: 16px;
  color: #f00;
}

/// success Buying

.bl_successBuying {
  position: fixed;
  width: 300px;
  min-height: 50px;
  padding: 0 10px 15px;
  top: 35%;
  left: calc(50% - 150px);

  background-color: #fff;
  //border: 2px solid $color_blue;
  text-align: center;

  z-index: 1080;
}

.bl_successBuying__text {
  position: relative;
  margin-top: 10px;
  font-size: 16px;
  color: #000;

}

.decor_icon__seccuess {
  &:before {
    content: "\f00c";
    font-family: $FontAwesome;
    font-size: 24px;
    color: #0f0;

  }
}

.bl_successBuying__close,
.bl_map__close,
.bl_callback__close {
  position: absolute;
  top: -8px;
  right: -4px;
  margin: 0;
  width: 20px;
  height: 20px;
  background: none;
  z-index: 3;

  &:hover {
    .decor_icon__close {
      color: #f00;
    }
  }
}

.decor_icon__close {
  width: 100%;
  height: 100%;
  display: block;
  font-size: 22px;
  color: #000;
}

// popup_likeShopbag

.TEST_BUTTON { //////////////////////////
  width: 50px;
  height: 50px;
  position: fixed;
  right: 30px;
  bottom: 50px;
  background-color: #f00;
  cursor: pointer;
}

.popup_likeShopbag {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 100%;
  max-width: 628px;

  min-height: 250px;

  transform: translate(-50%, -50%);
  background-color: #fff;
  //border: 2px solid $color_blue;
  padding: 20px 20px;
  z-index: 1080;
}

.popup_likeShopbag__close {
  position: absolute;
  top: 10px;
  right: 10px;

  width: 12px;
  height: 12px;
  //color: $color_blue;
  background: none;
  font-size: 18px;
  font-weight: 400;
  z-index: 4;

  &:hover {
    //color: $color_pink;
  }
}

.popup_likeShopbag__text_main {
  display: inline-block;
  text-align: center;
  width: 100%;
  margin: 3% auto 10px;
  font-size: 24px;
}

.popup_likeShopbag__text {
  margin: 5px;
}

.popup_likeShopbag__product {

}

.button_buyProduct {
  //background-color: $color_blue;
  min-height: 30px;
  &:hover {
    background-color: #157dd0;
  }
}

.popup_likeShopbag__buttons {
  width: 100%;
  vertical-align: top;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.popup_likeShopbag__continueBuying,
.popup_likeShopbag__goToShopbag {
  width: 45%;
}

.button_buyProduct__text {
  color: #fff;
}

.popup_likeShopbag__goToShopbag_text {

  transition: 0.2s all;
  &:hover {
    color: #fff;
  }
}


/*********************************************/
/*FOOTER*/
/*********************************************/

@import "sections/footer";

/*********************************************/
/*@IMPORT MEDIA*/
/*********************************************/

@import "helpers/media";
