/*********************************************/
/*@IMPORTS*/
/*********************************************/
@import "vendors/global";
@import "helpers/global";
@import "components/global";
@import "helpers/mixins";
@import "components/sprite";
/*********************************************/
/*FONTS*/
/*********************************************/

@include font-face("FontAwesome", "../fonts/FontAwesome/FontAwesome", 400, normal, eot ttf woff woff2);

/*********************************************/
/*MAIN STYLES*/
/*********************************************/

html,
body {
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  min-width: 320px;
  position: relative;

  //background-color: $color_grey;

  display: -webkit-box;
  display: flex;

  -webkit-box-orient: vertical;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;

}

.wrapperBlock {
  display: -webkit-box;
  display: flex;

  -webkit-box-orient: vertical;
  flex-direction: column;

  position: relative;
  width: 100%;
  height: 100%;
}

.bl_wrappen {
  position: relative;
  width: 100%;
  height: 100%;
}

.blackWrapper {

  display: -webkit-box;
  position: fixed;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgb(51, 51, 51);
  z-index: 1075;
}

.bl_overflow {
  overflow: hidden;
}

.bl_buyOneClick {
  position: relative;
  width: 100%;
  height: 100%;
}

header {

  flex: 1 0 auto;
  //padding-bottom: 24px;
}

footer {

  flex: 0 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #000;
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    color: #000;
  }
}

p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
}

/// Input

input,
textarea {

  &:focus {
    &::placeholder {
      opacity: 0;
    }
  }

  &::placeholder {
    color: #000;
    opacity: 1;
    transition: opacity .3s;
  }

  &::-moz-focus-outer,
  &::-moz-focus-inner {
    border: 0;
    outline: none;
  }

}

.correct_right {
  padding-right: 0 !important;
}

.correct_left {
  padding-left: 0 !important;
}

.block_white {
  background-color: #fff;
}

/*********************************************/
/*TYPOGRAPHY*/
/*********************************************/

/*********************************************/
/*STICKY FOOTER*/
/*********************************************/

/*********************************************/
/*HEADER*/
/*********************************************/

@import "sections/header";

/*********************************************/
/*SECTIONS*/
/*********************************************/

.main{

}

.mainWrapper {
  position: relative;
  width: 100%;
  min-width: 320px;
  padding: 0;
  margin: 0 !important;
}

// MAIN SLIDER
.bl_mainSlider__fullBlock {
  width: 100%;

}

.bl_mainSlider {
  position: relative;
  width: 100%;

}

///

// OWL
.owl-carousel {
  z-index: 2;
}

.owl-carousel .owl-nav {
  position: absolute;

  width: 100%;
  height: 0;
  top: 50%;
  transform: translateY(-50%);

  z-index: 999;

  .owl-prev {

    position: absolute;
    left: 0;
    top: -25px;

    width: 30px;
    height: 50px;
    background-color: #202020;

    font-weight: bold;
    line-height: 1;
    font-size: 38px;
    transition: all 0.2s;

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      width: 16px;
      height: 30px;
      //background: url("../image/arrow_left.svg") 50% 50% no-repeat;

    }
    &:focus {
      color: $color_lightBlue;
    }
  }

  .owl-next {

    position: absolute;
    right: 0;
    top: -25px;
    width: 30px;
    height: 50px;
    font-weight: bold;
    background-color: #202020;

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      width: 16px;
      height: 30px;
    }
    &:focus {
      color: $color_lightBlue;
    }
  }
}

//corrected style

/// for mainSlider
.owl-carousel.bl_mainSlider .owl-nav {
  width: 60%;
  left: 20%;
}

.owl-carousel.bl_mainSlider .owl-prev,
.owl-carousel.bl_mainSlider .owl-next {
  width: 44px;
  height: 44px;
  background-color: inherit;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  &:hover {
    border-color: $color_lightBlue3;
    color: $color_lightBlue3;

  }
}

.owl-carousel.bl_mainSlider .owl-nav .owl-prev:before {
  content: "\f104";
  font-family: $FontAwesome;
  width: 12px;
  height: 26px;
  font-size: 24px;
}

.owl-carousel.bl_mainSlider .owl-nav .owl-next:before {
  content: "\f105";
  font-family: $FontAwesome;
  width: 6px;
  height: 35px;
  font-size: 24px;
}

.bl_mainSlider .owl-dots {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);

  .owl-dot {
    display: inline-block;
    width: 46px;
    height: 6px;
    background-color: #fff;
    margin-left: 2px;
    box-sizing: border-box;
    &.active {
      background-color: $color_lightBlue3;
    }
  }

}

//.slider_withThisProductBuy.owl-carousel .owl-nav,
.slider_brands.owl-carousel .owl-nav,
.slider_popular.owl-carousel .owl-nav,
.slider_newProducts.owl-carousel .owl-nav {
  width: initial;
  height: auto;
  top: -58px;
  right: 0;

  .owl-prev,
  .owl-next {
    float: left;
    position: relative;
    top: 0;
    left: 0;
    width: 24px;
    height: 36px;
    color: $color_arrow;
    background-color: $color_grey;
    box-sizing: border-box;
    vertical-align: top;
    &:hover {
      color: $color_arrowHover;
    }

    &:before {
      position: absolute;
      content: "\f104";
      font-family: $FontAwesome;
      display: block;
      width: 100%;

      left: 79%;
      top: 44%;

      transform: translate(-50%, -50%);

      font-size: 32px;
      background: none;
    }
  }

  .owl-next {
    float: right;
    border-left: 1px solid $colorSlider1;
    &:before {
      content: "\f105";
      top: 27%;
      background: none;
    }
  }

}

.slider_popular.owl-carousel .owl-dots,
.slider_newProducts.owl-carousel .owl-dots {
  position: absolute;
  top: -74px; ////////
  left: 32%;
  z-index: 3;

  .owl-dot {
    display: inline-block;
    width: 46px;
    height: 5px;
    background-color: $colorSlider1;
    margin-left: 2px;
    box-sizing: border-box;
    &.active {
      background-color: $color_arrowHover;
    }
  }

}

//////////corrected

.slider_popular.owl-carousel .owl-nav {
  top: -18px;
}

.slider_popular.owl-carousel .owl-dots {
  top: -32px;
}

.slider_brands.owl-carousel .owl-nav {
  .owl-prev,
  .owl-next {
    background: none;
  }

}

// OWL END

// MARK (layba)

.bl_mark {
  position: absolute;
  top: 18px;
  left: 0;

  z-index: 3;
  span {
    font-family: $OpenSans;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    padding-left: 10px;
    color: #fff;
    text-transform: uppercase;
  }

  &__top {
    @include sprite($mark-top);
  }

  &__hot {
    @include sprite($mark-hot);
  }

  &__hit {
    @include sprite($mark-hit);
  }

}

.bl_mark__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -25%);

  color: #fff;
  font-family: "Arial Narrow", Arial, sans-serif;

  font-size: 24px;
  font-weight: 400;
  line-height: 87px;
  text-transform: uppercase;

  &_action {
    font-size: 22px;
  }

}

///////////// Breadcrumbs

.bl_breadcrumbs {
  margin-top: 20px; //////////////////// 14px
  margin-bottom: 20px;
  width: 100%;
  &__item {
    position: relative;
    display: inline-block;
    padding-right: 2%;
    &:not(:last-child):after {
      content: "-";
      position: absolute;
      color: inherit;
      top: -2px;
      right: 4px;
      z-index: 3;
    }
  }
  &__link {
    position: relative;
    display: block;
    width: 100%;
    text-decoration: none;
    font-family: $OpenSans;
    color: $color_breadcrambs;
    font-size: 14px;
    font-weight: 400;

    &:hover {
      color: #000;
    }
  }
  &__active {
    display: inline-block;
    text-decoration: none;
    color: #1e232c;
    font-family: $OpenSans;
  }

}


//////////////

.button_buy {
  display: block;
  margin: 8px auto 0; ////26px
  text-align: center;
  width: 250px;
  height: 50px;
  line-height: 50px;

  box-sizing: border-box;
  transition: all 0.2s;
  //border: 1px solid $color_blue;

  //background-color: #fff;
  //color: $color_blue;

  border-radius: 24px;

  &:hover {
    transition: all 0.2s;
    color: white;
    //background-color: $color_blue;
  }

}

// OCFilter Dragebl

.btn_fullFilters {
  position: relative;
  width: 100%;
  margin-top: 52px;
  text-align: left;
}

.bl_filters {
  position: relative;
  width: 100%;
  padding-right: 15px;
}

.bl_filters__variable {

}

.bl_filters__section {

}


.bl_filters__button{
  position: relative;
  float: right;
  margin-top: 5px;
  height: 20px;
  width: 20px;
  //border: 1px solid #000;
  background: transparent;
}

.decor_filterLine{
  &:after{
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 9px;
    height: 2px;
    background-color: $color_button;
  }
}
.decor_filterTriangle{
  &:after{
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include triangle(down, $size: 9px, $color: $color_button);
  }
}




.bl_filters__name {
  display: inline-block;
  color: $color_button;
  line-height: 36px;
  font-family: $OpenSansSemibold;
  font-size: 16px;
  font-weight: 400;
}

.bl_filters__lable {
  position: relative;
  display: block;

  min-height: 36px;
  width: 100%;
}

.bl_filters__input {
  position: absolute;
  left: 0;
  visibility: hidden;
  opacity: 0;
}

.filter_text {
  margin-left: 25px;

  font-family: $OpenSans;
  font-weight: 400;
  position: relative;
  display: block;
  width: 100%;
  color: #000;
  &:hover,
  &:focus {
    color: $color_button;
  }
  span {
    font-weight: bold;
  }
}

.bl_filters__input:checked + .filter_text {
  font-weight: bold;
  color: $color_button;
}

.decor_lickCheckbox {
  &:before {
    position: absolute;
    left: -24px;
    top: 4px;
    content: "";
    width: 13px;
    height: 13px;
    border: 1px solid #1e232c;
    box-sizing: border-box;
    border-radius: 50%;
    z-index: 2;
  }
}

.bl_filters__lable .bl_filters__input:checked + .decor_lickCheckbox:before {

  border: 1px solid $color_button;
  background-color: $color_button;
}

.bl_filters__allFilters .noUi-connect {

  height: 9px;
  background-color: #e7e7e7;
}

.bl_filters__allFilters .noUi-horizontal .noUi-handle {
  height: 23px;
}

.bl_filters__allFilters .noUi-horizontal .noUi-handle {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.17);
  border: 2px solid #cadded;
  background: #0160ac linear-gradient(to top, #0160ac 0%, #1d82d3 100%);
  cursor: pointer;
}

.bl_filters__allFilters .noUi-horizontal .noUi-handle:before,
.bl_filters__allFilters .noUi-horizontal .noUi-handle:after {
  content: none;
}

.bl_filters__allFilters .noUi-origin {
  margin-top: 4px;
}

.bl_filters__allFilters .btn-danger {
  //background-color: $color_blue;
  //border-color: $color_blueDark;
}

.bl_filters__allFilters .ocfilter-option .fa-times {
  //color: $color_red;
}

.ocfilter-option {
  margin-bottom: 30px;
}

/////

// PAGINATION

.bl_pagination {
  text-align: center;
  margin: 26px auto 10px;
  width: 100%;
}

.pagination {

  &.bl_pagination__fullItems {
    display: inline-block;
    text-align: center;
  }

  li.bl_pagination__item {
    float: left;

  }

  a.bl_pagination__link {
    display: block;
    width: 100%;
    height: 34px;
    padding: 0;
    margin: 0;
    float: none;
    border: none;
    background: none;

    color: #000;

    box-sizing: border-box;
    font-family: $OpenSans;
    font-size: 16px;
    line-height: 34px;

    &:hover,
    &:focus {
      border-color: #000;
      background-color: inherit;
      color: #0160ac !important;
    }

  }

  a.bl_pagination__link_number {
    width: 34px;
    box-sizing: border-box;
  }

  a.bl_pagination__arrow {
    padding: 0 16px;
  }

  a.bl_pagination__lastPage {
    padding-left: 18px;
  }

  a.bl_pagination__firstPage {
    padding-right: 18px;
    border-right: 1px solid #c4c4c4;
  }

  a.bl_pagination__decorLine {
    border: none;
    border-right: 1px solid #c4c4c4;
  }

  .bl_pagination__item.active {
    span {
      color: #fff !important;
      border-radius: 0;
      border-top: none;
      border-bottom: none;
    }
  }

  span.bl_pagination__link_number__active,
  .active span.bl_pagination__link_number__active {

    position: relative;
    color: #fff;
    width: auto;
    height: 36px;
    vertical-align: top;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.17);
    box-sizing: border-box;
    border: 2px solid #fff;
    border-radius: 50% !important;
    background-image: linear-gradient(to top, #0160ac 0%, #1d82d3 100%);

    &:focus,
    &:active {
      //background-color: $color_blue2;
      color: #000 !important;
    }
  }
}

.pagination a.bl_pagination__decorLine {
  border: none;
}

// Article

.catalog_article {
  margin-top: 10px;
  padding: 23px 20px;
  width: 100%;

  background-color: #fff;
}

.catalog_article__title {
  color: #333;
  font-family: $OpenSans;
  font-size: 18px;
  line-height: 24px;
}

.catalog_article p {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 0;

  color: #333;
  line-height: 24px;
}

.catalog_article img {
  float: left;
  margin-right: 16px;
  width: 162px;
}

.error_text,
.text_error {
  font-size: 14px;
  color: #f00;
}

.text_success {
  font-size: 16px;
  color: #008300;
}

/// success Buying
//
//.bl_successBuying {
//  position: fixed;
//  width: 300px;
//  min-height: 50px;
//  padding: 0 10px 15px;
//  top: 35%;
//  left: calc(50% - 150px);
//
//  background-color: #fff;
//  //border: 2px solid $color_blue;
//  text-align: center;
//
//  z-index: 1080;
//}
//
//.bl_successBuying__text {
//  position: relative;
//  margin-top: 10px;
//  font-size: 16px;
//  color: #000;
//
//}

.decor_icon__seccuess {
  &:before {
    content: "\f00c";
    font-family: $FontAwesome;
    font-size: 24px;
    color: #0f0;

  }
}

.decor_icon__close {
  width: 100%;
  height: 100%;
  display: block;
  font-size: 22px;
  color: #000;
}

.button_simple {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  border-radius: 18px;
  padding: 5px 7px;
  background-color: $color_button;
}

// popup_likeShopbag

.TEST_BUTTON { //////////////////////////
  width: 50px;
  height: 50px;
  position: fixed;
  right: 30px;
  bottom: 50px;
  background-color: #f00;
  cursor: pointer;
}

.popup_likeShopbag {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 100%;
  max-width: 628px;

  min-height: 200px;

  transform: translate(-50%, -50%);
  background-color: #fff;
  //border: 2px solid $color_blue;
  padding: 20px 20px;
  z-index: 1080;
}

.popup_likeShopbag__close {
  position: absolute;
  top: 10px;
  right: 10px;

  width: 12px;
  height: 12px;
  //color: $color_blue;
  background: none;
  font-size: 18px;
  font-weight: 400;
  z-index: 4;

  &:hover {
    //color: $color_pink;
  }
}

.popup_likeShopbag__text_main {
  display: inline-block;
  text-align: center;
  width: 100%;
  margin: 3% auto 10px;
  font-size: 24px;
}

.popup_likeShopbag__text {
  margin: 5px;
}

.popup_likeShopbag__product {

}

.button_product {
  text-align: center;
  background-color: $color_button;
  min-height: 30px;
  &:hover {
    background-color: #157dd0;
  }
}

.popup_likeShopbag__buttons {
  width: 100%;
  vertical-align: top;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.popup_likeShopbag__buttons .button_product {
  width: 45%;

}

.popup_likeShopbag__buttons .button_product span,
.popup_likeShopbag__buttons .button_product a {
  line-height: 36px;
  color: #fff;
  transition: 0.2s all;
  &:hover {
    color: #fff;
  }
}

.section_name {
  display: block;
  color: $color_title;
  background: none;
  font-family: $OpenSansSemibold;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
}

.sidebar {
  width: 100%;
  padding-left: 6px;
  background-color: $color_grey;
}

///// Categories
.bl_catalogs {
  margin-top: 52px;
  width: 100%;
}

.bl_catalogs button {
  padding-top: 14px;
}

.bl_catalogs__firstLevel {
  line-height: 24px;
  margin-top: 38px;
}

.bl_catalogs__secondLevel {
  display: none;
  padding-left: 10px;
}

.bl_catalogs__thirdLevel {
  display: none;
  padding-left: 20px;
}

.bl_catalogs__item {
  margin-top: 10px;
}

.bl_catalogs__button {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  height: 100%;
  min-height: 24px;
  width: 18px;
  background: none;

  &:focus {
    box-shadow: 0 0 4px $color_lightBlue;
  }
}

.bl_catalogs__link {
  color: #545454;
  font-family: $OpenSans;
  font-size: 16px;
  font-weight: 400;

  &:hover {
    color: #000;
  }

}

.bl_catalogs__item.active > .bl_catalogs__link,
.bl_catalogs__item.active > .bl_catalogs__button {
  color: $color_lightBlue3;
}

.decor_triangle {
  &:after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "\f0d7";
    font-family: $FontAwesome;
    color: #000;
    font-size: 18px;
  }
}

.decor_arrowUp {
  &:after {
    content: "";
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include sprite($arrow-up);
  }
}

.decor_minLine {
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 5px;
    width: 100%;
    background-color: #fff;
  }
}

.decor_close {
  &:after {
    content: "\f00d";
    font-family: $FontAwesome;
    position: absolute;
    transform: translate(-50%, -50%);
    color: $color_lightBlue;
  }
}

/////  short Reviews

.bl_shortReviews {
  margin-top: 52px;
  padding-bottom: 38px;
  width: 100%;
}

.bl_shortReviews__fullReviews {
  padding-right: 30px;
}

.bl_shortReviews__item {
  margin-top: 50px;
}

.bl_shortReviews__image {
  display: block;
  width: 100%;
  object-fit: cover;
}

.bl_shortReviews__name {
  width: 100%;
  display: block;
  color: $color_title;
  font-family: $OpenSansSemibold;
  line-height: 24px;
}

.bl_shortReviews__fullStars {
  width: 100%;
  height: 14px;
}

.bl_shortReviews__star {
  position: relative;
  float: left;
  width: 14px;
  height: 14px;
  margin-top: 7px;

  font-family: $FontAwesome;
  font-size: 14px;
  color: $color_lightBlue3;
  margin-right: 3px;
}

.icon_star__full {
  &:after {
    content: '\f005';
    color: inherit;
    width: 100%;
    height: 100%;
  }
}

.icon_star__empty {
  &:after {
    content: '\f005';
    color: #a3a3a3;
    width: 100%;
    height: 100%;
  }
}

.bl_shortReviews__full {
  margin-top: 26px;

  clear: both;
  width: 100%;
  color: #4e5665;
  font-family: $OpenSansLight;
  font-weight: 300;
  font-style: italic;
  line-height: 24px;
}

.bl_shortReviews__link {
  display: block;
  margin-top: 32px;
  color: $color_lightBlue3;
  font-family: $OpenSansSemibold;
  font-size: 14px;
  text-decoration: underline;
}

///////////// CALLBACK FORM

.bl_callback, .bl_success {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid $color_lightBlue3;
  border-radius: 4px;
  min-width: 120px;
  z-index: 1080;
}

.bl_success {
  text-align: center;
  padding: 0 10px 10px;
  cursor: pointer;
}

.bl_callback__close {
  position: relative;
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  width: 26px;
  height: 26px;
  font-size: 26px;
  background: none;
  z-index: 3;

  &:hover {
    .decor_icon__close {
      color: #f00;
    }
  }
}

.bl_callback__form {
  clear: both;
  width: 100%;
  padding: 1px 10px 10px;
}

.bl_callback__label {
  display: block;
  position: relative;
  width: 100%;
  margin: 0 auto 24px;

  span {
    position: absolute;
    bottom: -20px;
    left: 0;
  }
}

.bl_callback__input {
  display: block;
  width: 100%;
}

.bl_callback__button {
  display: block;
  margin: 5px auto;
}

.bl_callback__success {
  display: block;
  width: 100%;
  text-align: center;
  padding: 0 10px 10px;
}

///////////

.block_name {
  position: relative;
  height: 36px;
  line-height: 36px;
  background-color: $color_grey;
  color: #fff;
  font-family: $OpenSans;
  text-indent: 16px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  z-index: 2;
}

////// Slider NEW
.bl_new {
  width: 100%;
  margin-top: 62px;
}

.decor_greyTrapeze {
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    @include sprite($mark-grey-pentagon);
    z-index: -1;
  }
}

.slider_newProducts {
  margin-top: 40px;
}

.product_sliderCart__item {
  width: 100%;
  padding: 10px;
}

.product_sliderCart__link {
  position: relative;
  padding: 20px 14px 0;
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
  border: 1px solid #fff;
  transition: all 0.2s;

  &:hover {
    transition: all 0.2s;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.08);
    border-color: #eee;
  }

}

.product_sliderCart__name {
  color: #12171f;
  font-family: $OpenSans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.product_sliderCart__item .bl_shortReviews__fullStars {
  height: 18px;
}

.product_sliderCart__price {
  clear: both;
  padding-top: 8px;
  margin-top: 15px;
  width: 100%;
  min-height: 54px;
  border-top: 1px solid #e7e7e7;

  font-family: $OpenSansSemibold;
  font-size: 16px;
  font-weight: 700;
}

.product_sliderCart__price_normalPrice {
  color: #101216;
}

.product_sliderCart__price_oldPrice {
  color: #b8b8b8;
  font-family: $OpenSansSemibold;
  font-size: 12px;
  text-decoration: line-through;
}

.product_sliderCart__price_newPrice {
  display: block;
  color: $color_pink;
}

////// Slider Popular
.bl_popular {
  width: 100%;
  margin-top: 62px;
}

///// Slider Brands
.bl_brands {
  width: 100%;
  margin-top: 28px;
}

.slider_brands__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 80px;
}

.slider_brands__link {
  width: 100%;
  display: block;
}

.bl_aboutShop__link {
  display: block;
  max-width: 250px;
  margin-top: 47px;
  padding: 6px 34px;
  &:hover,
  &:focus {
    color: #fff;
    text-decoration: underline;
  }
}

//  News Paper
.bl_newspaper {
  width: 100%;
  margin-top: 48px;
}

.bl_newspaper__fullBlock {
  width: 100%;
  //margin-top: 62px;
}

.bl_newspaper__item {
  position: relative;
  width: 50%;
  float: left;
  margin-top: 52px;
}

.bl_newspaper__image {
  vertical-align: top;
  max-width: 50%;
  display: inline-block;
}

.bl_newspaper__description {
  position: relative;

  width: 50%;
  display: inline-block;
  margin-left: 20px;
  line-height: 24px;

}

.bl_newspaper__name {
  position: relative;
  color: #1e232c;
  height: 50px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  overflow: hidden;
}

.bl_newspaper__shortDescription {
  font-size: 14px;
  font-weight: 300;
  height: 100px;
  overflow: hidden;
}

.bl_newspaper__data {
  display: block;
  font-weight: 300;
  color: #b5b5b5;
  font-size: 14px;
}

.bl_newspaper__link {
  position: relative;
  color: $color_button;
  font-family: $OpenSansSemibold;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.decor_triangle__right {
  &:after {
    content: "\f0da";
    font-family: $FontAwesome;
    position: absolute;
    right: -9px;
    top: -4px;
    font-size: 14px;
    color: inherit;
  }

}

.bl_newspaper__allNews {
  display: block;
  width: 100%;
  margin-top: 50px;
  text-align: center;
  color: $color_button;
  font-family: $OpenSansSemibold;
  font-size: 14px;
  font-weight: 400;
  text-decoration: underline;
}

// CEO

.bl_aboutShop {
  width: 100%;
  margin-top: 60px;
  position: relative;
}

.ceo_block {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 20px;
  line-height: 24px;
  color: #1e232c;
}

.ceo_block h2 {
  font-size: 16px;
  margin: 0;
  font-family: $OpenSans;
  font-weight: 700;
  text-transform: uppercase;
}

.ceo_block h3,
.ceo_block h4 {
  font-size: 16px;
  font-family: $OpenSansSemibold;
  font-weight: 700;
}

.ceo_block p {
  margin-top: 15px;
  font-size: 16px;
  font-weight: 300;
}

.ceo_block ol,
.ceo_block ul {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 20px;
  margin-top: 15px;
  font-size: 16px;
  font-weight: 300;
}

/*********************************************/
/*FOOTER*/
/*********************************************/

@import "sections/footer";

/*********************************************/
/*@IMPORT MEDIA*/
/*********************************************/

@import "helpers/media";
