@import "../components/variables";
/*********************************************/
/*Desktop First Method*/
/*********************************************/

/* Large Devices, Wide Screens 1280px */
@media only screen and (max-width: 1200px) {
  .bl_personalRoom{
    border: none;
  }

  .bl_search{
    clear: both;
    margin: 10px auto 0;
  }
}

/* Medium Devices, Desktops 992px */
@media only screen and (max-width: 991px) {

  .bl_logo{
    margin: 0 auto;
  }

  .bl_mainControls{
    float: none;
    margin: 10px auto;
    text-align: center;
  }
  .bl_shopBasket{
    float: none;
    display: inline-block;
    padding-right: 0;
  }


  .nav_main__fullItems{
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    border-bottom: 1px solid $color_borderLightGrey;
    margin: 0 auto;
    width: 100%;
  }
  .nav_main__items{
    width: 100%;
    text-align: center;
  }
  .nav_main__link{
    padding: 0;
  }


  .bl_search{
    float: none;

  }

  .bl_search__wrapper{
    margin: 10px auto 0;
    max-width: 200px;
  }


  .btn_callBack{
    float: none;
    display: block;
    margin: 10px auto;
  }


  .bl_logos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-bottom: 15px;
  }

  .bl_cosLinks, .bl_bankCarts{
    width: initial;
  }

  .bl_facebook{
    display: block;
    margin-top: 10px;
    text-align: center;
  }

}

@media only screen and (max-width: 820px) {

  .bl_informations{
    display: block;
  }
  .bl_informations__item{
    margin: 10px 0 ;
  }


  .bl_informations__item {
    max-width: 300px;
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4){
      margin: 10px 0 ;
    }
  }


  .bl_informations__title.decor_triangle{
    &:after{
      content: "\f0d7";
      top:12px;
    }
  }
  
  
  .bl_info{
    display: none;
  }



}





/* Small Devices, Tablets 768px */
@media only screen and (max-width: 768px) {


  
  
  .nav_main__fullItems{
    display: none;
    flex-direction: column;
    line-height: 40px;
    border: 1px solid #000;
  }
  .nav_main__items{
    border-bottom: 1px solid #000;
    &:last-child{
      border-bottom: none;
    }
  }

  .bl_logos{
    display: block;
  }

  .bl_cosLinks,
  .bl_bankCarts{
    display: inline-block;
    width: 49.4%;
  }


}

@media only screen and (max-width: 600px) {

}

/* Extra Small Devices, Phones 480px */
@media only screen and (max-width: 480px) {


}

/* Custom, iPhone Retina 320px */
@media only screen and (max-width: 320px) {


}
